@font-face {
    font-family: 'KyoboHandwriting';
    src: url('./styles/fonts/KyoboHandwriting2019.woff2') format('woff2');
    }

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('./styles/fonts/GmarketSansMedium.woff');
    }